@tailwind base;
@tailwind components;
@tailwind utilities;

/* Skry spin tlačidlá v Chrome/Edge/Safari */
input[type="number"].no-spin::-webkit-outer-spin-button,
input[type="number"].no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"].no-spin {
  -moz-appearance: textfield;
  appearance: textfield;
}

